/* ----- Kursauswahl ----- */

#course-selection {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.kurs-karte {
    width: 300px;
    background-color: beige;
    border: 1px solid #7d5a6b;
    border-radius: 8px;
    padding: 16px;
}
body.dark .kurs-karte {
    color: #3e2f36;
    background-color: #a78bfa;
}

#termin-popup {
    border-radius: 8px;
    border: 2px solid #7d5a6b;
    padding: 1rem;
}

.elementImStundenplan {
    border-radius: 8px;
    padding: 1rem;
}

.ue {
    background-color: burlywood;
}

.tut {
    background-color: #7d5a6b;
    color: #f4effa;
}

.vl {
    background-color: beige;
}

#termin-liste {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

button {
    margin: 1rem;
    padding: 0.25rem 0.5rem;
}