/* ----- Kursauswahl ----- */

#course-selection {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.kurs-karte {
    width: 300px;
    background-color: beige;
    border: 1px solid burlywood;
    border-radius: 8px;
    padding: 16px;
}

.elementImStundenplan {
    border-radius: 8px;
    padding: 1rem;
}

.ue {
    background-color: burlywood;
}

.tut {
    background-color: #7d5a6b;
    color: #f4effa;
}

.vl {
    background-color: beige;
}

#termin-liste {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

button {
    margin: 1rem;
    padding: 0.5rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}