body.dark {
  background-color: #1E1B22;
  color: #F4EFFA;
}

body {
  background-color: #F7EDEE;
  color: #3E2F36;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

/* ----- DARKMODE TOGGLE ----- */
.theme-toggle {
  width: 90px;
  height: 44px;
  border: none;
  border-radius: 999px;

  background-color: #FFF0B8;
  cursor: pointer;
}

.theme-toggle.active {
  background-color: #3B3650;
}

.theme-toggle.active .toggle-circle {
  transform: translateX(42px);
  background-color: #9F7AEA;
}

.toggle-circle {
  width: 36px;
  height: 36px;
  border-radius: 50%;

  background-color: #F7C72F;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;

  transition: transform 0.8s;
}

/* ----- STUNDENPLAN ----- */
#course-schedule {
  margin: 30px 30px;
}

.schedule-table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  /* keine doppelten Ränder */
}

.schedule-table th,
.schedule-table td {
  border: 1px solid #D6BFC7;
  padding: 15px;
  text-align: center;
  height: 40px;
}

body.dark .schedule-table th,
body.dark .schedule-table td {
  border: 1px solid #4A4458;
}

.schedule-table td {
  background-color: #F3E3E6;
}

body.dark .schedule-table td {
  background-color: #2A2630;
}

.schedule-table th {
  color: #F4EFFA;
  background-color: #7D5A6B;
}

body.dark .schedule-table th {
  color: #1E1B22;
  background-color: #A78BFA;
}

.lunch-break td {
  background-color: #E8D7DC;
}

body.dark .lunch-break td {
  background-color: #383347;
}